<!DOCTYPE html>
<html>

<head>
    <title>Financeiro</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div style="display: flex; gap: 30px; flex-wrap: wrap;">

    <div style="width: 400px;">
        <h3>Proventos vs Despesas</h3>
        <canvas id="grafico"></canvas>
    </div>

    <div style="width: 400px;">
        <h3>Despesas por Categoria</h3>
        <canvas id="graficoPizza"></canvas>
    </div>

</div>

<script>
    const ctx = document.getElementById('grafico');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Proventos', 'Despesas'],
            datasets: [{
                data: [{{ proventos or 0 }}, {{ despesas or 0 }}]
    }]
    }
});
</script>

<body>

    <!-- 🔐 BOTÃO SAIR -->
    <div style="text-align:right; margin-bottom: 10px;">
        <a href="/logout" style="color:red; text-decoration:none;">Sair</a>
    </div>

    <h1>Controle Financeiro</h1>

    <!-- ➕ FORMULÁRIO -->
    <h2>Nova Movimentação</h2>

    <form method="POST" action="/add">

        <label>Data:</label><br>
        <input type="date" name="data_operacao" required><br><br>

        <label>Descrição:</label><br>
        <input name="descricao" placeholder="Descrição" required><br><br>

        <label>Valor:</label><br>
        <input name="valor" type="number" step="0.01" placeholder="Valor" required><br><br>

        <label>Tipo:</label><br>
        <select name="tipo">
            <option value="Provento">Provento</option>
            <option value="Despesa">Despesa</option>
        </select><br><br>

        <button type="submit">Salvar</button>

    </form>

    <hr>

    <!-- 📋 LISTA -->
    <h2>Movimentações</h2>

    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Credor-Pagador</th>
            <th>Forma Transação</th>
            <th>Valor</th>
        </tr>

        {% for m in movimentacoes %}
        <tr>
            <td>{{ m["id"] }}</td>
            <td>{{ m["data_operacao"] }}</td>
            <td>{{ m["tipo"] }}</td>
            <td>{{ m["categoria_id"] }}</td>
            <td>{{ m["descricao"] }}</td>
            <td>{{ m["credor_pagador"] }}</td>
            <td>{{ m["forma_transacao"] }}</td>
            <td>R$ {{ "%.2f"|format(m["valor"]) }}</td>
        </tr>
        {% endfor %}

    </table>

    <script>
        const ctxPizza = document.getElementById('graficoPizza');

        new Chart(ctxPizza, {
            type: 'pie',
            data: {
                labels: {{ labels_categoria | tojson }},
            datasets: [{
                data: {{ valores_categoria | tojson }}
            }]
        }
    });
    </script>

</body>

</html>